<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sys.dao.impl.FixedEventDaoImpl">

	<sql id="table"> fixed_event </sql>

    <select id="findFixedEventList"  parameterType="java.util.Map"  resultType="com.sys.entity.Fixed_event">
        select  *  from  <include refid="table" /> 
         where 1=1 and status!=9
        <if test="keywords != null">
           and  name like concat('%', #{keywords}, '%')  
        </if>       
    </select>


    <select id="getFixedEventList"  parameterType="java.util.Map"  resultType="com.sys.entity.Fixed_event">
        select  *  from  <include refid="table" /> 
         where 1=1 and status!=9     
    </select>
        
</mapper>